@page "/"
@using secretsVaul.Components

<h1>Sistema de registro de secretos</h1>

<p>
    Bienvenid@s al mejor Sistema para guardar tus secretos 
    mas intimos sin temor a que otros te descubran
</p>
<p>
    Si ya eres Usuario <a href="/users/iniciar-sesion">Inicia Sesion</a>, de lo contrario <a href="/users/registrar">Registrate</a>.
</p>

